@font-face {
    font-family: "WiiSans";
    src: url("./assets/fonts/contm.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rodin";
    src: url("./assets/fonts/Rodin.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "digital-dream";
    src: url("./assets/fonts/DIGITALDREAM.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "e1234";
    src: url("./assets/fonts/E1234.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    cursor: url(./assets/wiicursor.cur), auto;
}

.mm-striped-bg {
    background-image: linear-gradient(
        to bottom,
        #f0f0f0 25%,
        transparent 25%,
        transparent 50%,
        #f0f0f0 50%,
        #f0f0f0 75%,
        transparent 75%,
        transparent
    );
    background-size: 12px 12px;
}

.ec-striped-bg {
    background-image: linear-gradient(
        to bottom,
        #e0e0e0 25%,
        transparent 25%,
        transparent 50%,
        #e0e0e0 50%,
        #e0e0e0 75%,
        transparent 75%,
        transparent
    );
    background-size: 5px 5px;
}

.options-button-height {
    height: 140px;
}

.mail-option-button-size {
    font-size: 40px;
    line-height: 40px;
}

.mm-bar {
    border-top: none;
    border-bottom: 6px solid #00c4ff;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.mm-left-box {
    width: calc(50% - 8rem);
    height: 100px;
    background-color: rgb(209 213 219 / var(--tw-bg-opacity));
    transform: translateX(-17rem);
    position: absolute;
    border-bottom-right-radius: 50%;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.mm-left-bar {
    border-top: 4px solid #00c4ff;
    border-radius: 50px;
    box-shadow: 0 -2px #00c4ff;
}

.mm-right-box {
    width: calc(50% - 8rem);
    height: 100px;
    background-color: rgb(209 213 219 / var(--tw-bg-opacity));
    transform: translateX(17rem);
    position: absolute;
    border-bottom-left-radius: 50%;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.mm-right-bar {
    border-top: 4px solid #00c4ff;
    border-radius: 50px;
    box-shadow: 0 -2px #00c4ff;
}

.channel-height {
    height: 20vh;
}

/* Keep height adjustments uncommented if needed */
/*
@media (max-height: 700px) {
    .channel-height {
        height: 18vh;
    }
}
*/

.transparent-border {
    border-color: transparent;
    border-width: 4px;
}

.transition-border {
    transition: border-color 0.2s ease-in-out;
}

@keyframes blink {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

.animate-blink {
    animation: blink 2.5s infinite; /* Continuous blinking with a 2.5s duration */
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        background-color: transparent;
    }
    100% {
        opacity: 0;
        background-color: black;
    }
}

.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        background-color: black;
    }
    100% {
        opacity: 1;
        background-color: transparent;
    }
}

.fade-in {
    animation: fadeIn 3s forwards;
}

@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-spin-slower {
    animation: spin-slow 15s linear infinite;
}

.typewriter {
    width: 3ch; /* Fix the width of the animation to the width of the text */
    overflow: hidden; /* Hide the overflowing content */
    border-right: 0.1em solid white; /* Typing cursor bar */
    white-space: nowrap; /* Prevent line breaks */
    animation: typing 4s steps(5, end) infinite,
        blink-caret 0.75s step-end infinite;
    display: inline-block; /* Keep inline */
    position: relative; /* Keep fixed inside container */
}

/* Typing and deleting effect */
@keyframes typing {
    0%,
    10% {
        width: 0;
    }
    20%,
    30% {
        width: 1ch; /* Show < */
    }
    40%,
    50% {
        width: 2ch; /* Show </ */
    }
    60%,
    70% {
        width: 3ch; /* Show </> */
    }
    80%,
    90% {
        width: 2ch; /* Back to </ */
    }
    100% {
        width: 0; /* Clear everything */
    }
}

/* Blinking cursor */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: white;
    }
}

/* Footer background */
.mm-footer-bg {
    background-image: url("assets/svgs/mm-footer.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

/* Footer height */
.footer-height {
    height: auto;
    min-height: 322px; /* Minimum height */
}
